{% extends 'layout.html' %}
{% block body %}
<br>
<br>
<br>

<div class = "container" id = "content">
  <div class = "row justify-content-center">
    <div class="col w-75 col-lg-auto column well">
      <div class = "jumbotron">
        <h4 style="font-size: 30px;" class="display-4">FlaskApp</h4>
                <!--- Flash Msg-->
                {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                  {% for category, message in messages %}
                    <div id = "flash" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <!-- <strong>Title</strong> --> {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              <script>
                setTimeout(function() {
                    $('#flash').hide("fade");
                }, 3000);
            </script> 
            <!--- Flash Msg-->
        <hr>
            <div class="container">
              <div class="row">
                <div class="col text-center">
                  <br>
                  <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-bag-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"></path>
                    <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"></path>
                    <path fill-rule="evenodd" d="M10.854 7.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 10.293l2.646-2.647a.5.5 0 0 1 .708 0z"></path>
                  </svg>
                  <h3 style="font-size: 1.1em;">
                    <br>
                    Success! Your print query is now being processed...
                  </h3>
                </div>
              </div>
            </div>
        <hr>
            <form>
              <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <span style="display: inline;">
                      <input style="margin-top: 5px;" formaction="/" class="btn btn-success" type="submit" value="Go Back to Home" />
                      <input style="margin-top: 5px;" formation="/login" class="btn btn-primary" type="submit" value="Login to FlaskAPP" />
                    </span>
                  </div>
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
