{% extends 'layout.html' %}
{% block body %}
    <div class = "jumbotron text-center">
        <h1 class="display-4">Flask as FlaskAPP Web Framework</h1>
        <hr>
        <p class="lead">Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries. It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions</p>
    </div>
    <center><div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class = "display-4">On The Philosophy of FlaskAPP</h1>
          <hr class="my-4">
          <img src = "/static/img/author.jpg" class = "img-thumbnail" style = "width:200px;height:200px;">
          <br>
          <hr>
          <p class="lead">Hi, I'm Journel Cabrillos! Currently pursuing my undergraduate studies in Electronics Engineering. For the most part, I initiated FlaskAPP out from scratch to cope with my boredom, with a perquisite of being productive. FlaskAPP is my third project based on Python after experimenting on ciphers and cryptography from my previous projects. Despite being intrinsically different from my previous works, as well as I, myself being lacked with knowledge about Web Development and its elements (particulary in CSS, HTML and Javascript), I launched FlaskAPP to give a free service in the form of entertainment and recreation (FlaskTV and Games), may it be in the form of providing a medium of expression (through Editor), and for those who spend their leisures in reading. Apropos site content, FlaskAPP and its contents will remain a blank verse; it has no specific standards to follow and will provide ad hoc/extomporized content as per users' suggestions and demands. 
          
          </p>
        </div>
      </div></center>
{% endblock %}