{% extends 'layout.html' %}

{% block body %}
    <br>
    <br>
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='contact-bg.jpg') }}')">
        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
                <h1 class = "display-4">Editor</h1>
                <span class="lead">Editor lets you create and share blog posts, articles, stories.</span>
            </div>
            </div>
        </div>
        </div>
    </header>
    <hr>
   <!-- Main Content -->
   <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form name="addForm" id="addForm" method="POST" action="/editpost/id/{{ blog_data.blog_id }}/" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" value = "{{blog_data.title}}" placeholder="Title" name="title" id="title" required data-validation-required-message="Please enter a title.">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group">
              <label>Blog Content</label>
              <textarea id="editor" rows="5" class="form-control" value = "Hello World" placeholder="Blog content" name="content" id="content" required data-validation-required-message="Please enter a message.">{{ blog_data.content }}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Topic</label>
              <input type="text" class="form-control" value = "{{ blog_data.subtitle }}"  placeholder="Possible Topics: Politics, Science and Technology, Mathematics, Editorial/Opinion, News etc." name="subtitle" id="subtitle" required data-validation-required-message="Please enter Topics">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Author</label>
              <input type="text" class="form-control" value="{{ blog_data.author }}"" name="author" id="author" required data-validation-required-message="Please enter the author name" readonly>         
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-secondary" id="sendMessageButton">Publish</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <hr>

    <!--CKEDITOR-->
    <script src="{{ url_for('static', filename="ckeditor/ckeditor.js")}} "></script>
    <script>
      var edit = CKEDITOR;
      edit.replace('editor')
      edit.config.height = '60em';
      edit.instances.editor.getData();
    </script>
    <!--CKEDITOR-->
{% endblock %}