{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<header class="masthead" style="background-image: url('{{ url_for('static', filename='contact-bg.jpg') }}')">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
            <h1 class = "display-4">
                <img src="/static/img/user.png" style="width:100px;height:100px;">
                {{ name }}
            </h1>
        </div>
        <hr>
        <div class ="col">
            <b><span class="lead" style = "font-weight:lighter;">E-Mail: {{ email }}</span></b>
        </div>
        </div>
    </div>
    </div>
</header>
<br>
<div class = "container">
    <div class = "col-lg-8 col-md-10 mx-auto">
    <div class="control-group">
        <table class = "table table-hover" style="width:100%">
            <thead class = "thead-dark">
                <tr>
                 <th colspan = "2"><center><b><span class = "h4 lead" style = "font-weight:normal;">PROFILE DATA</span></center></b></th>
                </tr>
             </thead>
            <tr>
              <td><h6>FLASK ID: </h6></td>
              <td><b><span style = "color:lime">FLASK-000-{{ current_user.id }}</span></b></td>
            </tr>
            <tr>
              <td><h6>ABOUT:</h6></td>
              <td>{{ current_user.about }}</td>
            </tr>
            <tr>
              <td><h6>DATE JOINED:</h6></td>
              <td>{{ date_joined }}</td>
            </tr>
            <td><h6>BLOG ENTRIES:</h6></td>
            {% if not blog_entry == False %}
                <td>
                    <ul class="list-group-flush">
                        {% for i in blog_entry %}
                    <li class="list-group-item" >
                        <a href="/post/article/{{ i.blog_id }}">{{ i.title }}</a>
                        <br>
                        <button onclick="window.location.href = '/editor/edit/art_id/{{ i.blog_id }}';" type="button" class="btn btn-success btn-sm px-1">Edit Article</button>
                        <a href=""></a>
                    </li>
                    {% endfor %}
                </ul>
            </td>
            {% else %}
                <td>None</td>  
            {% endif %}        
          </tr>
          </table>
    </div>
</div>
{% endblock %}